.splash-container {
    background: #1f8dd6;
    height: 60vh;
}

footer {
    background: rgb(77, 75, 75);
}

footer>ul>li {
    margin-left: 15px;
}

.podcast-title {
    color: #666;
    text-decoration: underline;
}
/* .podcast {
    cursor: pointer;
}
.podcast:hover {
    text-decoration: underline;
} */
.podcast>img {
    border: 1px solid rgb(200, 200, 200);
}

.episode>td>span {
    cursor: pointer;
}

.player {
    background: rgb(202, 202, 202);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.player>audio {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
.player>button {
    color: rgb(30, 30, 30);
}