<nav class="uk-background-secondary uk-navbar uk-light" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">Fireweed</a>
    <ul dava-nav="main-menu" class="uk-navbar-nav">
      {{range .}}
      <li data-nav={{.NavID}}><a href={{.Link}}>{{.Text}}</a></li>
      {{end}}
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
</nav>