<div class="uk-alert-success" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p class="uk-text-center">Feed added.</p>
</div>

<div class="uk-container">
  <h2 class="uk-margin-top">This Week in Machine Learning & Artificial Intelligence (AI) Podcast</h2>
  <p>Mark as Favorite <i class="far fa-heart"></i></p>

  <div uk-grid>
    <div class="uk-width-1-5 podcast">
      <img width="200" height="200" src="http://static.libsyn.com/p/assets/d/1/f/a/d1fa0cd9db1a1e58/avatars-000328798255-7rxgio-original.jpg" />
    </div>
    <div class="uk-width-4-5">
      <p>This Week in Machine Learning & AI is the most popular podcast of its kind. TWiML & AI caters to a
        highly-targeted audience of machine learning & AI enthusiasts. They are data scientists, developers, founders,
        CTOs, engineers, architects, IT & product leaders, as well as tech-savvy business leaders. These creators,
        builders, makers and influencers value TWiML as an authentic, trusted and insightful guide to all that’s
        interesting and important in the world of machine learning and AI.\nTechnologies covered include: machine
        learning, artificial intelligence, deep learning, natural language processing, neural networks, analytics, deep
        learning and more.</p>
      <p>https://twimlai.com</p>
    </div>
  </div>

  <h3 class="uk-margin-top">Episodes</h3>

  <table class="uk-table uk-table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Published</th>
        <th>Description</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Pragmatic Deep Learning for Medical Imagery with Prashant Warier - TWiML Talk #165">Pragmatic
          Deep Learning for Medi ...</td>
        <td>Jul 19, 2018</td>
        <td>
          <p>In this episode I'm joined by Prashant Warier, CEO and Co-Founder of Qure.ai, ...
        </td>
        <td><a href="#modal-0" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-0" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Pragmatic Deep Learning for Medical Imagery with Prashant Warier - TWiML Talk #165</h2>
            <p>In this episode I'm joined by Prashant Warier, CEO and Co-Founder of Qure.ai, a company building
              AI-powered software for radiology. In our conversation, Prashant and I discuss the company’s work building
              products for interpreting head CT scans and chest x-rays. Prashant shares with us some great insights into
              some of the things he and his team have learned in bringing a commercial product to market in this space,
              including what the gap between academic research papers and commercially viable software, the challenge of
              data acquisition and how to best capitalize on what data you have access, and much more. We also touch on
              the application of transfer learning in this space, and the algorithms and annotation pipelines they’ve
              developed to support 3D scans. For the complete show notes, visit https://twimlai.com/talk/165.</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Taskonomy: Disentangling Transfer Learning for Perception (CVPR 2018 Best Paper Winner) with Amir Zamir - TWiML Talk #164">Taskonomy:
          Disentangling Transfe ...</td>
        <td>Jul 16, 2018</td>
        <td>
          <p>In this episode I'm joined by Amir Zamir, Postdoctoral researcher at both Sta ...
        </td>
        <td><a href="#modal-1" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-1" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Taskonomy: Disentangling Transfer Learning for Perception (CVPR 2018 Best Paper
              Winner) with Amir Zamir - TWiML Talk #164</h2>
            <p>In this episode I'm joined by Amir Zamir, Postdoctoral researcher at both Stanford & UC Berkeley. Amir
              joins us fresh off of winning the 2018 CVPR Best Paper Award for co-authoring "Taskonomy: Disentangling
              Task Transfer Learning." In this work, Amir and his coauthors explore the relationships between different
              types of visual tasks and use this structure to better understand the types of transfer learning that will
              be most effective for each, resulting in what they call a “computational taxonomic map for task transfer
              learning.” In our conversation, we discuss the nature and consequences of the relationships that Amir and
              his team discovered, and how they can be used to build more effective visual systems with machine learning.
              Along the way Amir provides a ton of great examples and explains the various tools his team has created to
              illustrate these concepts.</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Predicting Metabolic Pathway Dynamics w/ Machine Learning with Zak Costello - TWiML Talk #163">Predicting
          Metabolic Pathway Dyn ...</td>
        <td>Jul 11, 2018</td>
        <td>
          <p>In today’s episode I’m joined by Zak Costello, post-doctoral fellow at the Jo ...
        </td>
        <td><a href="#modal-2" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-2" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Predicting Metabolic Pathway Dynamics w/ Machine Learning with Zak Costello -
              TWiML Talk #163</h2>
            <p>In today’s episode I’m joined by Zak Costello, post-doctoral fellow at the Joint BioEnergy Institute. Zak
              joins me to discuss his recent paper, “A machine learning approach to predict metabolic pathway dynamics
              from time-series multiomics data.” In our conversation, we start with an overview of synthetic biology, and
              from there dig into Zak’s particular application, which is the use of ML techniques to optimize metabolic
              reactions for engineering biofuels at scale. We get into an interesting chat about BioHacking at the end of
              our interview; it turns out that it’s pretty easy for hobbyists to get started on this type of work, which
              is pretty wild. For the complete show notes, visit twimlai.com/talk/163. To nominate us for Best Podcast
              and Best Technology Podcast at this years People's Choice Podcast Awards, visit twimlai.com/nominate!</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Machine Learning to Discover Physics and Engineering Principles with Nathan Kutz - TWiML Talk #162">Machine
          Learning to Discover Phy ...</td>
        <td>Jul 09, 2018</td>
        <td>
          <p>In this episode, I’m joined by Nathan Kutz, Professor of applied mathematics, ...
        </td>
        <td><a href="#modal-3" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-3" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Machine Learning to Discover Physics and Engineering Principles with Nathan Kutz -
              TWiML Talk #162</h2>
            <p>In this episode, I’m joined by Nathan Kutz, Professor of applied mathematics, electrical engineering and
              physics at the University of Washington. Nathan and I met a few months ago at the Prepare.AI conference in
              St. Louis where he gave a talk on “Machine Learning to Discover Physics and Engineering Principles.” Our
              conversation is laser-focused on his research into the use of machine learning to help discover the
              fundamental governing equations for physical and engineering systems from time series measurements. We
              explore the application of his work to self-tuning fiber-optic lasers as well as to biological systems and
              other complex multi-scale systems. The notes for this show can be found at twimlai.com/talk/162. We’re also
              in the running for this year’s People's Choice podcast awards, in both the People’s Choice and Technology
              categories and we’d really appreciate your support! Head over to twimlai.com/nominate to find out how to
              vote for us!!! Thanks in advance!</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Automating Complex Internal Processes w/ AI with Alexander Chukovski - TWiML Talk #161">Automating
          Complex Internal Proc ...</td>
        <td>Jul 05, 2018</td>
        <td>
          <p>In this episode, I'm joined by Alexander Chukovski, Director of Data Services ...
        </td>
        <td><a href="#modal-4" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-4" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Automating Complex Internal Processes w/ AI with Alexander Chukovski - TWiML Talk
              #161</h2>
            <p>In this episode, I'm joined by Alexander Chukovski, Director of Data Services at Munich, Germany based
              career platform, Experteer. In our conversation, we explore Alex’s journey to implement machine learning at
              Experteer. Alex and I discuss the Experteer NLP pipeline and how it’s evolved over time to address the
              company’s need for greater automation in the way it processes jobs on its platform. We also discuss Alex’s
              work with deep learning based ML models, including models like VDCNN and Facebook’s FastText offering,
              which he’s particularly excited about. Finally, we briefly discuss recent papers that look at transfer
              learning for NLP, how Alex keeps up with recent academic papers, and a few tips for people looking to
              inject ML/DL in their products or projects. We’ve got some great news to share and also favor to ask! We’re
              in the running for this year’s People's Choice podcast awards, in both the People’s Choice and Technology
              categories and we’d really appreciate your support! Head over to twimlai.com/nominate to vote for us!!!
              Thanks in advance! The complete notes for this show can be found at twimlai.com/talk/161.</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Designing Better Sequence Models with RNNs with Adji Bousso Dieng - TWiML Talk #160">Designing
          Better Sequence Models ...</td>
        <td>Jul 02, 2018</td>
        <td>
          <p>In this episode, I'm joined by Adji Bousso Dieng, PhD Student in the Departme ...
        </td>
        <td><a href="#modal-5" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-5" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Designing Better Sequence Models with RNNs with Adji Bousso Dieng - TWiML Talk
              #160</h2>
            <p>In this episode, I'm joined by Adji Bousso Dieng, PhD Student in the Department of Statistics at Columbia
              University. In this interview, Adji and I discuss two of her recent papers, the first, an accepted paper
              from this year’s ICML conference titled “Noisin: Unbiased Regularization for Recurrent Neural Networks,”
              which, as the name implies, presents a new way to regularize RNNs using noise injection. The second paper,
              an ICLR submission from last year titled “TopicRNN: A Recurrent Neural Network with Long-Range Semantic
              Dependency,” debuts an RNN-based language model designed to capture the global semantic meaning relating
              words in a document via latent topics. We dive into the details behind both of these papers and I learn a
              ton along the way. For complete show notes, visit twimlai.com/talk/160. </p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Love Love: AI and ML in Tennis with Stephanie Kovalchik - TWiML Talk #159">Love Love: AI and ML
          in Tennis w ...</td>
        <td>Jun 29, 2018</td>
        <td>
          <p>In this, the final show in our AI in Sports series, I’m joined by Stephanie K ...
        </td>
        <td><a href="#modal-6" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-6" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Love Love: AI and ML in Tennis with Stephanie Kovalchik - TWiML Talk #159</h2>
            <p>In this, the final show in our AI in Sports series, I’m joined by Stephanie Kovalchik, Research Fellow at
              Victoria University and Senior Sports Scientist at Tennis Australia. Stephanie and I had a great
              conversation about a few of the many interesting projects underway at Tennis Australia. We look at their
              use of data to develop a player rating system based on ability and probability, as opposed to the current
              official one which is based on points scored and match results. We then get into some of the interesting
              products her Game Insight Group is developing, including a win forecasting algorithm, and a statistic that
              measures a given player’s workload during a match. Stephanie details her paper “Is there a pythagorean
              theorem for winning in tennis?”, which explores the development and application of a pythagorean theorem
              for win expectation in tennis. We also take a look at her project to develop a system for classifying
              “ending” shots, and an emotion tracking system that help shows the link between emotion and performance in
              tennis. For the complete show notes, visit twimlai.com/talk/159. For details on our AI in Sports series,
              visit twimlai.com/aiinsports. </p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Growth Hacking Sports w/ Machine Learning with Noah Gift - TWiML Talk #158">Growth Hacking Sports
          w/ Machine ...</td>
        <td>Jun 28, 2018</td>
        <td>
          <p>In this episode of our AI in Sports series I'm joined by Noah Gift, Founder a ...
        </td>
        <td><a href="#modal-7" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-7" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Growth Hacking Sports w/ Machine Learning with Noah Gift - TWiML Talk #158</h2>
            <p>In this episode of our AI in Sports series I'm joined by Noah Gift, Founder and Consulting CTO at
              Pragmatic Labs and professor at UC Davis. Noah previously worked for a startup called Score Sports, which
              used machine learning to uncover athlete influence on social media and internet platforms. We look into
              some of his findings in that role, including how to predict the impact of athletes’ social media
              engagement. We also discuss some of his more recent work in using social media to predict which players
              hold the most on-court value, and how this work could lead to more complete approaches to player valuation.
              Finally, we spend some time discussing some areas that Noah sees as ripe for new research and
              experimentation across sports, and we take a look at his upcoming book Pragmatic AI, An Introduction to
              Cloud-Based Machine Learning. For those interested in pre-ordering the book, be sure to check out the link
              in the show notes for a nice discount code. The notes for this show can be found at twimlai.com/talk/158.
              For more on our AI in Sports series visit twimlai.com/aiinsports.</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Fine-Grained Player Prediction in Sports with Jennifer Hobbs - TWiML Talk #157">Fine-Grained
          Player Prediction i ...</td>
        <td>Jun 27, 2018</td>
        <td>
          <p>In this episode of the series, I'm joined by Jennifer Hobbs, Senior Data Scie ...
        </td>
        <td><a href="#modal-8" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-8" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Fine-Grained Player Prediction in Sports with Jennifer Hobbs - TWiML Talk #157</h2>
            <p>In this episode of the series, I'm joined by Jennifer Hobbs, Senior Data Scientist at STATS, a collector
              and distributor of sports data, covering sports like basketball, soccer, American football and rugby.
              Jennifer and I explore the STATS data pipeline and how they collect and store different types of data for
              easy consumption and application. We dig into a paper she co-authored, Mythbusting Set-Pieces in Soccer,
              which takes a look at the data surrounding free kicks and corner kicks in soccer in an effort to debunk
              some long-standing myths around various situations. If you’re using machine learning to predict World Cup
              winners, you’ll definitely want to check this segment out. Finally, Jennifer and I chat about potential
              projects and applications of machine learning to sports, and the accessibility of sports-specific datasets
              for hobbyists. For the complete show notes, visit twimlai.com/talk/157. For more information on the AI in
              Sports Series, visit twimlai.com/aiinsports.</p>
          </div>
        </div>
      </tr>

      <tr class="episode">
        <td><span uk-icon="icon: play-circle"></span></td>
        <td uk-tooltip="Targeted Ticket Sales Using Azure ML with the Trail Blazers w/ Mike Schumacher & Chenhui Hu - TWiML Talk #156">Targeted
          Ticket Sales Using Azur ...</td>
        <td>Jun 26, 2018</td>
        <td>
          <p>In today’s episode of our AI in Sports series I'm joined by Mike Schumacher, ...
        </td>
        <td><a href="#modal-9" uk-toggle><span uk-icon="icon: info"></span></a></td>
        <td><span uk-icon="icon: plus"></span></td>
        <div id="modal-9" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">Targeted Ticket Sales Using Azure ML with the Trail Blazers w/ Mike Schumacher &
              Chenhui Hu - TWiML Talk #156</h2>
            <p>In today’s episode of our AI in Sports series I'm joined by Mike Schumacher, director of business
              analytics for the Portland Trail Blazers, and Chenhui Hu, a data scientist at Microsoft. In our
              conversation, Mike, Chenhui and I discuss how the Blazers are using machine learning to produce
              better-targeted sales campaigns, for both single-game and season-ticket buyers. Mike describes some of the
              early use cases the Trail Blazers explored in their drive to apply analytics to the process of increasing
              ticket sales. Chenhui elaborates on some of the unique challenges of the Trail Blazers’ dataset and the
              modeling techniques the team applied to solve their problem. For the complete show notes, visit
              twimlai.com/talk/156. For more on our AI in Sports series, visit twimlai.com/aiinsports2018.</p>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>