<div class="uk-container">
  <h1 class="uk-heading-primary uk-margin-top">Podcasts</h1>

  <div class="uk-margin-top uk-margin-bottom">
    <form class="uk-search uk-search-default uk-width-1-3">
      <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
      <input id="searchbox" class="uk-search-input" type="search" placeholder="Search ...">
    </form>
  </div>

  <div class="uk-margin-top">
    <a class="uk-button uk-button-primary" href="/add_podcast">
      Add
    </a>
  </div>

  <div class="uk-child-width-1-5 uk-margin-medium-top" uk-grid>
    {{range .Items}}
      <div data-podcast="" class="podcast">
        <img width="200" height="200" src={{.Thumbnail}} />
        <div><a class="podcast-title" href={{.Link}}>{{.Title}}</div></a>
        <div class="uk-text-muted">{{.Author}}</div>
      </div>
    {{end}}
  </div>

  <ul class="uk-pagination uk-flex-center uk-margin-medium-top uk-margin-medium-bottom">
    <li><a href="/podcasts?page=2"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="uk-active"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
  </ul>

</div>