<div class="splash-container uk-light">
  <div style="height: 25%;"></div>
  <h1 class="uk-heading-hero">
    <div class="uk-text-center">Simple Podcast Playlists</div>
  </h1>
  <div class="uk-margin-large-top">
    <a id="browse" class="uk-button uk-button-large uk-button-secondary uk-align-center uk-width-1-4" href="/podcasts">
      Browse Podcasts
      <span uk-icon="icon: chevron-right"></span>
    </a>
  </div>
</div>

<div class="uk-grid-medium uk-child-width-expand@s uk-text-center uk-margin-top" uk-grid>
  <div>
    <div class="uk-card uk-card-large uk-card-default uk-card-body">
      <h3 class="uk-card-title"><i class="fas fa-search-plus"></i> Find Podcasts</h3>
      <p>Search from our vast selection of podcasts or add your favorite podcast to our growing list.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-large uk-card-default uk-card-body">
      <h3 class="uk-card-title"><i class="fas fa-heart"></i> Set Favorites</h3>
      <p>Mark podcasts as favorites for easy access.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-large uk-card-default uk-card-body">
      <h3 class="uk-card-title"><i class="fas fa-play"></i> Create Playlists</h3>
      <p>Add individual episodes from different podcasts to your playlist.</p>
    </div>
  </div>
</div>